/*** Colors ***/

:root {
  --link: #0c60ff;
  --link-hover: #0c60ffaa;
}

/*** Core Elements ***/

body {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 960px; /* TODO: change to ch based */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h2 {
  margin-top: 1.25rem;
}

small {
  font-size: 0.75em;
}

a {
  color: var(--link);
}
a:hover {
  color: var(--link-hover);
}

/*** Custom elements ***/

#logo {
  width: 100%;
  max-width: 294px;
}

#gh {
  margin: 3rem 0 3.5rem;
}

#gf {
  text-align: center;
  margin: 1.5rem auto;
  max-width: 550px; /* TODO: change to ch */
}

#landing {
  font-size: 1.5em;
  font-weight: 300;
}

#landing h2 {
  font-size: 1.75em;
  line-height: 1.25em;
}

#support {
  font-size: 1.5em;
}

#support h2 {
  font-size: inherit;
}

#companies {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-inline-start: 0;
  margin: 1em 0;
}

#companies li {
  height: 2.5em;
  flex: 1;
}

#companies img {
  display: block;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

.banner {
  border: 3px solid #FF9F10;
  border-radius: 0.5em;
  padding: 1em 0.5em;
}

.banner > p {
  margin: 0;
}

.cta > a {
    background-color: var(--link);
    border-radius: 0.4em;
    color: white;
    display: inline-block;
    font-weight: medium;
    line-height: 1.25;
    padding: 0.7em;
    text-decoration: none;
    margin: 1.5em 0 3em;
}

.hide {
  display: none;
}

/*** Size adjustments ***/

/* Non-phone devices */
@media (min-width: 550px) {
  /* Larger text */
  body {
    font-size: 1.25em;
  }
}
