body {
    color: rgb(50, 50, 50);
    background-color: #f8f8f8;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    font-size: 1.15em;
    font-family: -apple-system, "Helvetica";
  }
  
  header {
    background-color: #2b2a3e;
    color: #f8f8f8;
    margin-bottom: 16px;
  }
  
  header p {
    font-weight: 300;
    font-size: 1.1em;
    max-width: 880px;
    margin: 0 auto;
    padding: 24px 8px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
  
  section {
    padding: 0px 8px;
  }
  
  section.hero {
    max-width: 880px;
    margin: 0 auto;
  }
  
  section.hero h1 {
    color: #2b2a3e;
    width: 100%;
    font-weight: 800;
    line-height: 1.2;
    font-size: 1.8em;
    margin: 0px;
  }
  
  section.hero p {
    color: #2b2a3e;
    width: 100%;
    font-weight: 100;
    line-height: 1.3;
    font-size: 1.1em;
    margin: 8px 0px 16px 0px;
  }
  
  section.intro {
    background-color: #4b4a5e;
    padding: 8px 0px;
    color: #f8f8f8;
  }
  
  section.intro p {
    max-width: 880px;
    padding: 8px;
    margin: 0 auto;
  }
  
  section.intro h2 {
    color: #f8f8f8;
    padding: 0px 8px;
    max-width: 880px;
    font-weight: 300;
    margin: 8px auto;
  }
  
  section.intro ul {
    display: flex;
    list-style-type: none;
    max-width: 880px;
    padding: 0px;
    margin: 16px auto;
  }
  
  section.intro ul li {
    flex: 1;
    text-align: center;
    margin: 0px 0px 8px 0px;
    padding: 16px 0px;
    background-color: #6b6a7e;
  }
  
  section.intro ul li:first-child {
    margin-right: 8px;
  }
  
  section.intro ul li:last-child {
    margin-left: 8px;
  }
  
  section.intro ul li a {
    color: #f8f8f8;
  }
  
  section.supporters {
    max-width: 880px;
    margin: 8px auto;
  }
  
  section.supporters h2 {
    color: #2b2a3e;
    font-weight: 300;
    margin: 24px 0px 16px 0px;
  }
  
  div#companies {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
  }
  
  div#companies div {
    float: left;
    margin: 8px 32px 8px 0px;
    padding: 8px;
    width: 156px;
    height: 156px;
    line-height: 156px;
    text-align: center;
    background-color: #fbfbfb;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    border: 1px solid #e2e2e2;
  }
  
  div#companies img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  footer {
    margin-top: 24px;
    font-size: 0.8em;
    background-color: #2b2a3e;
    color: #f8f8f8;
  }
  
  footer div#closeout {
    max-width: 880px;
    margin: 0 auto;
    display: flex;
    padding: 16px 8px 32px 8px;
  }
  
  footer div#copyright {
    text-align: left;
    float: left;
    flex: 1;
  }
  
  footer div#github {
    text-align: right;
    flex: 1;
  }
  
  footer a {
    color: #f8f8f8;
  }
  