body {
    color: rgb(50, 50, 50);
    margin: 0 auto;
    width: 100%;
    max-width: 880px;
    padding: 0;
    font-size: 1.15em;
    font-family: -apple-system, "Helvetica";
    line-height: 1.5em;
}

div#companies {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

div#companies div {
    float: left;
    margin: 5px;
    margin-left: 20px;
    margin-right: 50px;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

div#companies img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    margin-top: 20px;
    font-size: 0.8em;
}
